.addInput {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}
.form {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.input {
  width: 100%;
}
.error p {
  margin: 0;
  color: #c20a0a;
}
