.App {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.addInput {
}

.todolist {
  margin: 20px 50px;
}

.fade {
  opacity: 0.2;
  text-decoration: line-through;
}

.activeFilter {
  background-color: #77c7bc;
  border: #77c7bc solid 2px;
  border-radius: 10%;
  color: #fff;
}

ul > li {
  padding: 5px;
  list-style-type: none;
}

.buttons > button {
  margin: 2px;
}

.error > p {
  margin: 0;
  padding: 0;
  color: #bd1919;
}

.error__input {
  border: 2px solid #bd1919;
  border-radius: 3px;
}